.zen-backdrop.div-dropzone-wrapper.fullscreen {
  width: 50vw;
}

#markdown-previewer {
  display: block;
  position: fixed;
  width: 50vw;
  height: 100vh;
  left: 50vw;
  top: 0;
  background-color: white;
  z-index: 1032;
  overflow: scroll;
}
